<div class="indicator-table" *ngIf="series && !showSpinner">
    <div class="indicator-table__table-container" [ngClass]="{'indicator-table__table-container_tres-it': theme == '3it'}">
        <table class="table" *ngIf="series.length >0" [ngClass]="{'indicator-table__table_tres-it': theme == '3it'}">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Monto</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let serie of series | pagination:page">
                    <td>{{ serie.fecha | dayjs:'DD/MM/YYYY' }}</td>
                    <td>{{ ( indicator.unidad_medida == 'Dólar' || indicator.unidad_medida == 'Pesos' ) ? '$' : '' }}{{ serie.valor | number:'1.2-5'}}{{ ( indicator.unidad_medida == 'Porcentaje' ) ? '%' : '' }}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="series.length === 0" class="indicator-table__message-container" [ngClass]="{'indicator-table__message-container_tres-it': theme == '3it'}">
            No se encontraron resultados para esta búsqueda
        </div>
    </div>

    <div class="row justify-content-center" *ngIf="series.length !== 0">
        <div class="col-auto">
            <button class="btn btn-primary" [ngClass]="{'btn-primary_tres-it': theme == '3it'}" (click)="previusPage()" [disabled]="page <= 0">
                <i class="bi bi-chevron-left"></i>
            </button>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" [ngClass]="{'btn-primary_tres-it': theme == '3it'}" (click)="nextPage()" [disabled]="(series | pagination:page + 7).length === 0 " > 
                <i class="bi bi-chevron-right"></i>   
            </button>
        </div>
    </div>
    
</div>

<div class="spinner-container" *ngIf="showSpinner" [ngClass]="{'spinner-container_tres-it': theme == '3it'}">
    <ngx-spinner [bdColor] = "bdSpinner" size = "medium" [color] = "colorSpinner" type = "line-scale-party" [fullScreen] = "false"></ngx-spinner>
</div>
