<div class="page-indicator">
    <div class="page-indicator__header">
        <app-header [backButton]="true"></app-header>
    </div>
    <div class="page-indicator__container" [ngClass]="{'page-indicator__container_tres-it': theme == '3it'}">
        <div class="container">
            <div class="row" *ngIf="indicator && indicatorDetail">
                <div class="col-12 col-md-6">
                    <div class="page-indicator__card" [ngClass]="{'page-indicator__card_tres-it': theme == '3it'}">
                        <app-indicator-card-detail [indicator]="indicatorDetail" ></app-indicator-card-detail>
                    </div>
                    <div class="page-indicator__card" [ngClass]="{'page-indicator__card_tres-it': theme == '3it'}">
                        <app-indicator-chart [serie]="indicator.serie" [indicator]="indicator.nombre" ></app-indicator-chart>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="page-indicator__card" [ngClass]="{'page-indicator__card_tres-it': theme == '3it'}">
                        <app-indicator-filters (filterEvent)="filter($event)" [indicator]="indicator.codigo" ></app-indicator-filters>
                        <app-indicator-table [series]="indicator.serie"></app-indicator-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-indicator__footer">
        <app-footer></app-footer>
    </div>
</div>